.area1{ background-color: red;}
.area2{ background-color: orange;}
.area3{ background-color: yellow;}
.area4{ background-color: green;}
.area5{ background-color: blue;}

.block{
    border: 1px solid black;/* 1px 실선 검정색 테두리 */
    width: 150px;
    height: 150px;
    color: white;

    display: block;/* 요소의 형식을 block으로 변경 */
}

.inline{
    display: inline;/* 요소의 형식을 inline으로 변경 */
}

.inline-block{
    display: inline-block;/* 요소의 형식을 inline-block으로 변경 */
}

#container-1{
    border: 3px solid black;
    width: 350px;
    height: 450px;

}
/* 내부 영역 분할 1번 요소 */
/* #container-1 > div:first-child */
#container-1 > div:first-child{
    background-color: aquamarine;
    /* height: 135px; */
    height: 30%;
    /* % : 브라우저 또는 감싸는 영역의 크기에 비례해서 
            크기를 지정(자동 계산) */
    
}
/* 내부 영역 분할 2번 요소 */
#container-1 > div:last-child{
    background-color: yellow;
    /* height: 315px; */
    /* height: 70%;  */

    /* clac() 함수 */
    height: calc(472px * 0.5);
    
}
#container-2{
    border: 3px solid rgb(19, 8, 70);   
    width: 300px;
    height: 440px;
}
#container-2 >div:first-child{
    background-color: chartreuse;
    height: 15%;
}
#container-2 > div:nth-last-child(2){
    background-color: rgb(179, 77, 18);
    height: 35%;
}

#container-2 >div:last-child{
    background-color: rgb(90, 7, 69);
    height: 50%;
}
/* 좌우 2분할(50:50) */
#container-3{
    border: 3px dotted rgb(7, 39, 3); 
      
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%; 
    overflow: hidden;
}

#container-3 > .area3{
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align: right;
}
#container-3 > .area4{
    display: inline-block;
    height: 100%;
    width: 50%;
}

/* display : none; / visibility : hidden; */
.test4{
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.none{
    /* 요소는 존재하나 화면에 출력되지 않음 */
    display: none;
}

.hidden{
    /* 화면에 투명한 형태로 출력 */
    visibility: hidden;
}